.strength-bars-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  margin-top: 5px;
}

.strength-bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 315px;
}

.strength-bars div {
  width: 30%;
  height: 10px;
  background-color: grey;
}

.strength-bars .grey {
  background-color: grey;
}

.strength-bars .red {
  background-color: red;
}

.strength-bars .yellow {
  background-color: yellow;
}

.strength-bars .green {
  background-color: lawngreen;
}
